<div class="container">
  {{#if loggedIn}}
  <h2>Edit your comment:</h2>
  <form id="edit-comment-form" class="mt-4">
    {{!-- I need the comments title to be displayed not inputed --}}

    <div class="form-group">
      <label for="content">Content:</label>
      <textarea id="content" name="content" class="form-control" rows="10" required>{{comment.content}}</textarea>
    </div>
    <button type="submit" id="user-id" class="btn btn-primary" value="{{User.id}}">Update</button>
  </form>
  {{else}}
  <h2>You need to log in to edit your post.</h2>
  {{/if}}
</div>

<script src="/js/edit-comment.js"></script>